/* normalize-scss 3.0.1+normalize.3.0.1 | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Base ========================================================================== */
/** Establish a vertical rhythm unit using $base-font-size, $base-line-height, and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when body `font-size` is set using `em` units. */
html { font-size: 100%; line-height: 1.5em; }

/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ *display: inline; *zoom: 1; vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. */
[hidden] { display: none; }

/** Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Set 1 unit of vertical rhythm on the top and bottom margin. */
blockquote { margin: 1.5em 40px; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { /* Set the font-size and line-height while keeping a proper vertical rhythm. */ font-size: 2em; line-height: 1.5em; /* Set 1 unit of vertical rhythm on the top and bottom margins. */ margin-top: 0.75em; margin-bottom: 0.75em; }

h2 { font-size: 1.5em; line-height: 2em; margin-top: 1em; margin-bottom: 1em; }

h3 { font-size: 1.17em; line-height: 1.28205em; margin-top: 1.28205em; margin-bottom: 1.28205em; }

h4 { font-size: 1em; line-height: 1.5em; margin-top: 1.5em; margin-bottom: 1.5em; }

h5 { font-size: 0.83em; line-height: 1.80723em; margin-top: 1.80723em; margin-bottom: 1.80723em; }

h6 { font-size: 0.67em; line-height: 2.23881em; margin-top: 2.23881em; margin-bottom: 2.23881em; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Set 1 unit of vertical rhythm on the top and bottom margin. */
p, pre { margin: 1.5em 0; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Lists ========================================================================== */
/** Address margins set differently in IE 6/7. */
dl, menu, ol, ul { margin: 1.5em 0; }

dd { margin: 0 0 0 40px; }

/** Address paddings set differently in IE 6/7. */
menu, ol, ul { padding: 0 0 0 40px; }

/** Correct list images handled incorrectly in IE 7. */
nav ul, nav ol { list-style: none; list-style-image: none; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; /* Improve image quality when scaled in IE 7. */ -ms-interpolation-mode: bicubic; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1.5em 40px; }

/** Address differences between Firefox and other browsers. */
hr { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** Correct margin displayed oddly in IE 6/7. */
form { margin: 0; }

/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. 4. Address `font-family` inconsistency between `textarea` and other form in IE 7 5. Improve appearance and consistency with IE 6/7. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ *font-family: sans-serif; /* 4 */ *vertical-align: middle; /* 5 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. 4. Remove inner spacing in IE 7 without affecting normal text inputs. Known issue: inner spacing remains in IE 6. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ *overflow: visible; /* 4 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. 3. Remove excess padding in IE 7. Known issue: excess padding remains in IE 6. */
input[type="checkbox"], input[type="radio"] { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ *height: 13px; /* 3 */ *width: 13px; /* 3 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; /* 2 */ /** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */ }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { margin: 0 2px; /* Apply borders and padding that keep the vertical rhythm. */ border-color: #c0c0c0; border-top-width: 0.0625em; border-top-style: solid; padding-top: 0.4625em; border-bottom-width: 0.0625em; border-bottom-style: solid; padding-bottom: 0.9125em; border-left-width: 0.0625em; border-left-style: solid; padding-left: 0.875em; border-right-width: 0.0625em; border-right-style: solid; padding-right: 0.875em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. 3. Correct alignment displayed oddly in IE 6/7. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ *margin-left: -7px; /* 3 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

#main { -webkit-animation: fadein 0.2s; /* Safari and Chrome */ -moz-animation: fadein 0.2s; /* Firefox */ -ms-animation: fadein 0.2s; /* Internet Explorer */ -o-animation: fadein 0.2s; /* Opera */ animation: fadein 0.2s; }

@keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-moz-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-webkit-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-ms-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-o-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
a[href$=jpg], a[href$=jpeg], a[href$=jpe], a[href$=png], a[href$=gif] { text-decoration: none; border: 0 none; }

html { font-size: 100%; line-height: 1.5em; }

@font-face { font-family: 'Orpheus'; src: url("webfont/orpheus.ttf"); letter-spacing: 10px; font-style: normal; font-weight: 200; }
.black { color: black; }

@font-face { font-family: 'Grotesk'; src: url("webfont/AktivGrotesk.ttf"); letter-spacing: 10px; font-style: normal; font-weight: 200; }
@font-face { font-family: 'RMrollerball'; src: url("webfont/RMrollerball.otf") format("opentype"); letter-spacing: 10px; font-style: normal; font-weight: 200; }
@font-face { font-family: 'Grotesk-Light'; src: url("webfont/AktivGroteskLight.ttf"); letter-spacing: 10px; font-style: normal; font-weight: 200; }
@font-face { font-family: 'Grotesk-Italic'; src: url("webfont/AktivGroteskItalic.ttf"); letter-spacing: 10px; font-style: normal; font-weight: 200; }
.big-font, .top-bar, .bottom-bar, .clipboard, .copied { font-size: 34px; }

.small-font { font-size: 27.5px; }

.rmRollerBall { font-family: RMrollerball; font-size: 42px; }

/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS text size adjust after orientation change, without disabling
*    user zoom.
*/
html { font-family: monospace; font-family: Grotesk, Orpheus, Times, Courier, sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/**
* Remove default margin.
*/
body { margin: 0; }

/* HTML5 display definitions
	========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/**
* 1. Correct `inline-block` display not defined in IE 8/9.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio, canvas, progress, video { display: inline-block; /* 1 */ *display: inline; *zoom: 1; vertical-align: baseline; /* 2 */ }

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) { display: none; height: 0; }

/**
* Address `[hidden]` styling not present in IE 8/9/10.
*/
[hidden] { display: none; }

/**
* Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
*/
template { display: none; }

/* Links
	========================================================================== */
/**
* Remove the gray background color from active links in IE 10.
*/
a { background: transparent; }

/**
* Improve readability when focused and also mouse hovered in all browsers.
*/
a:active, a, .brand_title { outline: 0; cursor: pointer; }

/* Text-level semantics
	========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
abbr[title] { border-bottom: 1px dotted; }

/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
b, strong { font-weight: bold; }

/**
* Set 1 unit of vertical rhythm on the top and bottom margin.
*/
blockquote { margin: 1.5em 40px; }

/**
* Address styling not present in Safari and Chrome.
*/
dfn { font-style: italic; }

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
h1 { /* Set the font-size and line-height while keeping a proper vertical rhythm. */ font-size: 2em; line-height: 1.5em; /* Set 1 unit of vertical rhythm on the top and bottom margins. */ margin-top: 0.75em; margin-bottom: 0.75em; }

h2 { font-size: 1.5em; line-height: 2em; margin-top: 1em; margin-bottom: 1em; }

h3 { font-size: 1.17em; line-height: 1.28205em; margin-top: 1.28205em; margin-bottom: 1.28205em; }

h4 { font-size: 1em; line-height: 1.5em; margin-top: 1.5em; margin-bottom: 1.5em; }

h5 { font-size: 0.83em; line-height: 1.80723em; margin-top: 1.80723em; margin-bottom: 1.80723em; }

h6 { font-size: 0.67em; line-height: 2.23881em; margin-top: 2.23881em; margin-bottom: 2.23881em; }

/**
* Address styling not present in IE 8/9.
*/
mark { background: #ff0; color: #000; }

/**
* Set 1 unit of vertical rhythm on the top and bottom margin.
*/
p, pre { margin: 1.5em 0; }

/**
* Address inconsistent and variable font size in all browsers.
*/
small { font-size: 80%; }

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Lists
	========================================================================== */
/**
* Address margins set differently in IE 6/7.
*/
dl, menu, ol, ul { margin: 0 0; }

dd { margin: 0 0 0 40px; }

/**
* Address paddings set differently in IE 6/7.
*/
menu, ol, ul { padding: 0 0 0 10px; }

/**
* Correct list images handled incorrectly in IE 7.
*/
nav ul, nav ol { list-style: none; list-style-image: none; }

/* Embedded content
	========================================================================== */
/**
* Remove border when inside `a` element in IE 8/9/10.
*/
img { border: 0; /* Improve image quality when scaled in IE 7. */ -ms-interpolation-mode: bicubic; }

/**
* Correct overflow not hidden in IE 9/10/11.
*/
svg:not(:root) { overflow: hidden; }

/* Grouping content
	========================================================================== */
/**
* Address margin not present in IE 8/9 and Safari.
*/
figure { margin: 1.5em 40px; }

/**
* Address differences between Firefox and other browsers.
*/
hr { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; }

/**
* Contain overflow in all browsers.
*/
pre { overflow: auto; }

/**
* Address odd `em`-unit font size rendering in all browsers.
*/
code, kbd, pre, samp { font-family: Times, monospace, monospace; font-size: 1em; }

/* Forms
	========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* Correct margin displayed oddly in IE 6/7.
*/
form { margin: 0; }

/**
* 1. Correct color not being inherited.
*    Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
* 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
* 5. Improve appearance and consistency with IE 6/7.
*/
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ *font-family: Times; /* 4 */ *vertical-align: middle; /* 5 */ }

/**
* Address `overflow` set to `hidden` in IE 8/9/10/11.
*/
button { overflow: visible; }

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
button, select { text-transform: none; }

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
* 4. Remove inner spacing in IE 7 without affecting normal text inputs.
*    Known issue: inner spacing remains in IE 6.
*/
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ *overflow: visible; /* 4 */ }

/**
* Re-set default cursor for disabled elements.
*/
/**
* Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
input { line-height: normal; }

/**
* It's recommended that you don't attempt to style these elements.
* Firefox's implementation doesn't respect box-sizing, padding, or width.
*
* 1. Address box sizing set to `content-box` in IE 8/9/10.
* 2. Remove excess padding in IE 8/9/10.
* 3. Remove excess padding in IE 7.
*    Known issue: excess padding remains in IE 6.
*/
input[type="checkbox"], input[type="radio"] { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ *height: 13px; /* 3 */ *width: 13px; /* 3 */ }

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome
*    (include `-moz` to future-proof).
*/
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; /* 2 */  /**
	* Remove inner padding and search cancel button in Safari and Chrome on OS X.
	* Safari (but not Chrome) clips the cancel button when the search input has
	* padding (and `textfield` appearance).
	*/ }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/**
* Define consistent border, margin, and padding.
*/
fieldset { margin: 0 2px; /* Apply borders and padding that keep the vertical rhythm. */ border-color: #c0c0c0; border-top-width: 0.0625em; border-top-style: solid; padding-top: 0.4625em; border-bottom-width: 0.0625em; border-bottom-style: solid; padding-bottom: 0.9125em; border-left-width: 0.0625em; border-left-style: solid; padding-left: 0.875em; border-right-width: 0.0625em; border-right-style: solid; padding-right: 0.875em; }

/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
* 3. Correct alignment displayed oddly in IE 6/7.
*/
legend { border: 0; /* 1 */ padding: 0; /* 2 */ *margin-left: -7px; /* 3 */ }

/**
* Remove default vertical scrollbar in IE 8/9/10/11.
*/
textarea { overflow: auto; }

/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup { font-weight: bold; }

/* Tables
	========================================================================== */
/**
* Remove most spacing between table cells.
*/
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/* Fade In Page Contents */
#main { z-index: -4; }

@keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-moz-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-webkit-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-ms-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
@-o-keyframes fadein { from { opacity: 0; }
  to { opacity: 1; } }
/* henry's stuff */
@media (min-width: 1200px) { .season_image { max-width: none; } }
.big-font, .top-bar, .bottom-bar, .clipboard, .copied { font-family: Grotesk; font-size: 34px; line-height: 34px; }
.big-font.HOVER, .HOVER.top-bar, .HOVER.bottom-bar, .HOVER.clipboard, .HOVER.copied { border-bottom: 3px solid black; }
@media (max-width: 480px) { .big-font, .top-bar, .bottom-bar, .clipboard, .copied { font-size: 22px; } }

.small-font { font-family: Grotesk; font-size: 13px; }
@media (max-width: 480px) { .small-font { font-size: 10px; } }

.top-bar { z-index: 5; background: white; position: static; top: 0; color: rgba(0, 0, 0, 0.35); width: 100%; text-align: center; height: 64px; border-bottom: solid black 4px; line-height: 64px; left: 0; }
.top-bar.showAnd { color: black; }

@-webkit-keyframes mymove { from { top: -364px; z-index: -2; }
  to { top: -32px; z-index: -2; } }
/* Standard syntax */
@keyframes mymove { from { top: -364px; z-index: -2; }
  to { top: -32px; z-index: -2; } }
@-webkit-keyframes bottom-up { from { bottom: 0px; }
  to { bottom: 64px; } }
@keyframes bottom-up { from { bottom: 0px; }
  to { bottom: 64px; } }
@-webkit-keyframes mymoveup { from { top: -32px; z-index: -2; }
  to { top: -0px; z-index: -2; } }
/* Standard syntax */
@keyframes mymoveup { from { top: -32px; z-index: -2; }
  to { top: -64px; z-index: -2; } }
@-webkit-keyframes hidetop { from { -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0px); }
  to { -moz-transform: translateY(-32px); -ms-transform: translateY(-32px); -webkit-transform: translateY(-32px); transform: translateY(-32px); } }
/* Standard syntax */
@keyframes hidetop { from { -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0px); }
  to { -moz-transform: translateY(-32px); -ms-transform: translateY(-32px); -webkit-transform: translateY(-32px); transform: translateY(-32px); } }
@-webkit-keyframes showtop { from { -moz-transform: translateY(-32px); -ms-transform: translateY(-32px); -webkit-transform: translateY(-32px); transform: translateY(-32px); }
  to { -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0px); } }
/* Standard syntax */
@keyframes showtop { from { -moz-transform: translateY(-32px); -ms-transform: translateY(-32px); -webkit-transform: translateY(-32px); transform: translateY(-32px); }
  to { -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0px); } }
@media (max-width: 1233px) { .top-bar { font-size: 34px; } }
@media (max-width: 633px) { .top-bar { font-size: 21px; line-height: 2.5em; } }
.top-bar.showTop { z-index: 10; position: relative; }
.top-bar.moveUp { z-index: 10; position: relative; animation: hidetop .5s ease-out; -moz-transform: translateY(-32px); -ms-transform: translateY(-32px); -webkit-transform: translateY(-32px); transform: translateY(-32px); }
.top-bar.moveUp:hover { -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0px); }
.top-bar.moveDown { position: relative; animation: showtop .5s ease-out; cursor: default; -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0px); }
.top-bar.magazines { top: -32px; z-index: 5; position: relative; animation: mymove .5s ease-out; }
.top-bar.ads { top: -32px; position: relative; animation: mymove .5s ease-out; font-size: 27.5px; }
@media (max-width: 956px) { .top-bar.ads { line-height: 1.2em; } }
@media (max-width: 633px) { .top-bar.ads { font-size: 25.5px; line-height: 1.2em; margin-top: 5px; } }
.top-bar.ads.goaway { animation: mymoveup .5s ease-out; }

.bottom-bar { position: fixed; clear: both; bottom: 0px; width: 100%; height: 64px; padding-left: 32px; line-height: 64px; z-index: 1000; display: inline; }
.bottom-bar .title { line-height: 53px; display: inline; position: static; bottom: 0px; }
.bottom-bar .title:HOVER { cursor: pointer; }
@media (max-width: 480px) { .bottom-bar .title { padding-left: 17px; font-size: 22px; position: fixed; } }

.bottom-bar a { z-index: 1000; }

.main-image-container { height: 100%; }
.main-image-container .main-img-cont { float: left; background: url(http://pierre.dev/wp-content/uploads/2016/03/PT_WSJ_stipple-1.jpg); background-size: contain; background-repeat: no-repeat; height: 30%; width: 30%; height: 100px; }

.home_image { max-width: 24%; max-height: 16em; float: left; margin-right: 12px; }

#mag-table caption { font-size: 32px; margin-bottom: 30px; }

.link { text-decoration: none; color: rgba(0, 0, 0, 0.35); }

.clipboard { position: fixed; bottom: 0; right: 32px; z-index: 1002; }

.top-bar.magazines .link .current-mag { color: black; border: solid black 4px; }

.link.nav.current { color: black; }

.link.nav.current-page { color: black; }

.link:hover { color: black; }

#container { margin: 0 auto; }

.bio2 { position: absolute; top: 100px; }
@media (max-width: 633px) { .bio2 { top: 100px; } }
@media (max-width: 480px) { .bio2 { top: 40px; } }

#bio p { margin: 0; font-weight: 200; letter-spacing: -.5px; }
#bio p:before { content: "ee"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
#bio p:first-of-type { text-indent: 0em; }
#bio p:first-of-type:before { content: ""; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
#bio p span { position: relative; }
#bio p span.word { visibility: visible !important; font-family: rmRollerBall; font-size: 40px; letter-spacing: -2px; margin-right: 3px; line-height: 0.2em; font-size: 43.5px; margin: 0 2px; text-transform: uppercase; }
#bio p span:after { content: attr(data-text); position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: white; pointer-events: none; text-transform: uppercase; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; font-family: rmRollerBall; text-align: center; font-size: 150%; }
#bio p span:HOVER:after { line-height: 0.2em; }
#bio p span[class*=' hovered']:after { line-height: 0.2em; animation: fade-away 1s, appear .5s; }

@-webkit-keyframes fade-back { 0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
  100% { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; } }
@-moz-keyframes fade-back { 0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
  100% { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; } }
@-o-keyframes fade-back { 0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
  100% { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; } }
@keyframes fade-back { 0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
  100% { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; } }
@-webkit-keyframes appear { 0% { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
  100% { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; } }
@-moz-keyframes appear { 0% { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
  100% { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; } }
@-o-keyframes appear { 0% { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
  100% { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; } }
@keyframes appear { 0% { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
  100% { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; } }
@-webkit-keyframes fade-away { 0% { line-height: 0.2em; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
  100% { 	/*content:attr(data-text); 	position:absolute; 	top:0; 	left:0; 	width:100%; 	height:100%; 	background:white; 	pointer-events:none; */
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0;
    /*font-family: rmRollerBall; text-align:center; font-size:150%;*/ } }
@-moz-keyframes fade-away { 0% { line-height: 0.2em; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
  100% { 	/*content:attr(data-text); 	position:absolute; 	top:0; 	left:0; 	width:100%; 	height:100%; 	background:white; 	pointer-events:none; */
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0;
    /*font-family: rmRollerBall; text-align:center; font-size:150%;*/ } }
@-o-keyframes fade-away { 0% { line-height: 0.2em; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
  100% { 	/*content:attr(data-text); 	position:absolute; 	top:0; 	left:0; 	width:100%; 	height:100%; 	background:white; 	pointer-events:none; */
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0;
    /*font-family: rmRollerBall; text-align:center; font-size:150%;*/ } }
@keyframes fade-away { 0% { line-height: 0.2em; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
  100% { 	/*content:attr(data-text); 	position:absolute; 	top:0; 	left:0; 	width:100%; 	height:100%; 	background:white; 	pointer-events:none; */
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0;
    /*font-family: rmRollerBall; text-align:center; font-size:150%;*/ } }
.word-fade-from { line-height: 0.2em; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.word-fade-to { content: attr(data-text); position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: white; pointer-events: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; font-family: rmRollerBall; text-align: center; font-size: 150%; }

#bio { line-height: 1.3em; font-size: 27.5px; /*max-width: 400px;*/  /* -webkit-column-count: 2;
	 -moz-column-count: 2;
	 column-count: 2;
	 -webkit-column-gap: 50px;
	 -moz-column-gap: 50px;
	 column-gap: 50px;*/ /* -webkit-column-rule: 1px solid light$grey;
-moz-column-rule: 1px solid light$grey;
column-rule: 1px solid light$grey;
padding: 20px 20px 20px 50px;*/ }

.ad_card { display: none; position: fixed; }

.season_image { max-height: 57%; max-width: 40%; -moz-box-shadow: black 2px 2px 10px; -webkit-box-shadow: black 2px 2px 10px; box-shadow: black 2px 2px 10px; top: 0; left: 0; cursor: pointer; position: absolute; }

#bio { margin: 0 25px; margin: 5% 16%; margin-bottom: 8%; font-family: Grotesk; /*
color: #aebc16;
background: -moz-linear-gradient(top,  #aebc16 0%, #e93cec 47%);
background: -webkit-linear-gradient(top,  #aebc16 0%,#e93cec 47%);
background: linear-gradient(to bottom,  #aebc16 0%,#e93cec 47%);
*/ }

.season_images { display: none; }

.active .season_images, .active .season_image { display: block; }

.inactive .season_images, .season_image.inactive { display: none; }

.brand { list-style: none; }

.active > .season_attribution { position: fixed; bottom: 20px; right: 0px; padding-right: 40px; z-index: 3000; font-size: 13px; max-width: 65%; }

.active .brand_title { font-weight: bold; /*cursor: none;*/ }

.season_image { display: none; margin: auto; background: #ccc; filter: grayscale(100%) blur(50%); -webkit-filter: grayscale(100%) blur(80%); 	 /*
	 box-shadow: -3px 11px 52px rgba(, 0, 0, 0.99);
	 -moz-box-shadow: -3px 11px 52px rgba(0, 0, 0, 0.99);
	 -webkit-box-shadow: -3px 11px 52px rgba(0, 0, 0, 0.99); */ }

.top-image { -webkit-filter: grayscale(0%) blur(0%); filter: grayscale(0%) blur(0%); opacity: 1; }

li { list-style: none; }

.season > .season_attribution { display: none; }

.season_attribution .active { display: block; }

.showing.season > .season_attribution { display: block; z-index: 9000; }

.season_attribution { display: none; background: white; }

.showing.season_attribution { display: block; }

.showing.season_attribution a { background-color: white; }

.season_attr, .company_attr { padding-bottom: 0px; }

.company_attr { padding-right: 1em; }

.brand_dividers { display: none; }

@media (max-width: 900px) { #bio { /*max-width: 400px;*/ padding: 15px; padding-left: 40px; } }
.dek { font-size: 45px; padding: 30px; line-height: 45px; }

.magazine-issues-header { font-size: 28px; padding: 16px; }

.magazine-issues { display: flex; float: left; margin: 12px; padding-bottom: 67px; flex-direction: column; justify-content: space-around; flex-wrap: wrap; }

.magazine { margin-top: -32px; }

@media (max-width: 633px) { .top-bar { font-size: 27.5px; } }
@media (max-width: 768px) { .dek { padding-bottom: 0px; font-size: 24px; }
  #bio { float: left; /*max-width: 400px;*/ margin: 0 auto; margin: 3% 10%; padding: 15px; padding-left: 40px; } }
.season-attribution { -webkit-box-shadow: 6px 10px 76px 211px rgba(0, 0, 0, 0.75); -moz-box-shadow: 6px 10px 76px 211px rgba(0, 0, 0, 0.75); box-shadow: 6px 10px 76px 211px rgba(0, 0, 0, 0.75); }

.brand_dividers { display: inline; }

.season_image { width: 38%; max-width: 500px; }
.season_image.vert { width: auto; max-height: 70%; max-width: none; }

.people { position: static; bottom: 0; right: 0; font-size: 0.8em; }

.brand { display: inline-block; }

.brand:last-of-type .brand_dividers { display: none; }

.copied { -moz-transform: translateY(4px); -ms-transform: translateY(4px); -webkit-transform: translateY(4px); transform: translateY(4px); }

.envelope, .copied { position: fixed; bottom: 0; right: 0; padding: 24.6px 32px; z-index: 2002; }
.envelope img, .copied img { max-height: 27px; }

@media (max-height: 809px) { .season_image { width: 70%; max-height: 80%; } }
@media (max-width: 480px) { @-webkit-keyframes mymove { from { top: -50px; z-index: -2; }
    to { top: 0px; z-index: -2; } }
  /* Standard syntax */
  @keyframes mymove { from { top: -50px; z-index: -2; }
    to { top: 0px; z-index: -2; } }
  @-webkit-keyframes bottom-up { from { bottom: 0px; }
    to { bottom: 64px; } }
  @keyframes bottom-up { from { bottom: 0px; }
    to { bottom: 64px; } }
  @-webkit-keyframes mymoveup { from { top: -32px; z-index: -2; }
    to { top: -0px; z-index: -2; } }
  /* Standard syntax */
  @keyframes mymoveup { from { top: -32px; z-index: -2; }
    to { top: -64px; z-index: -2; } }
  @-webkit-keyframes hidetop { from { -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0px); }
    to { -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0px); } }
  /* Standard syntax */
  @keyframes hidetop { from { -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0px); }
    to { -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0px); } }
  @-webkit-keyframes showtop { from { -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0px); }
    to { -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0px); } }
  /* Standard syntax */
  @keyframes showtop { from { -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0px); }
    to { -moz-transform: translateY(0px); -ms-transform: translateY(0px); -webkit-transform: translateY(0px); transform: translateY(0px); } }
  .showing.season_attribution { position: absolute; left: 2px; width: 80%; max-width: none; padding-left: 32px; bottom: 0px; vertical-align: text-bottom; top: auto; /* border: solid 3px black; */ /* border-left: solid 3px black; */ background: white; }
  .showing.season_attribution .people { display: none; }
  .book { margin: 15% 0px; }
  .magazine { margin-top: 0px; }
  .top-bar { font-size: 18px; height: 36px; line-height: 36px; }
  .top-bar.ads { height: 64px; line-height: 1.4em; display: none; }
  .top-bar.magazines, .top-bar.ads { top: 0px; z-index: 5000; transform: translateY(0px); font-size: 17px; padding-top: 2px; line-height: 2em; }
  .top-bar.ads { line-height: 1.8em; }
  .top-bar.moveUp { transform: translateY(0px); }
  .envelope, .copied { padding: 22px 32px; z-index: 2002; position: static; padding: 20px 30px; padding-bottom: 0px; display: inline-block; margin-bottom: 64px; }
  .envelope img, .copied img { max-height: 20px; }
  .envelope img:HOVER, .copied img:HOVER { opacity: 0.6; }
  #bio { margin-bottom: 64px; margin: 0px 14px; margin: 3% 14px; padding-left: 16px; margin-bottom: 0px; padding-bottom: 0px; font-size: 18px; }
  .season_image { max-width: 350px; max-height: 95%; width: 80%; }
  .page-id-160 .bottom-bar { bottom: -104px !important; position: static; }
  .bottom-bar { display: block; position: absolute; padding: 0; text-align: left; font-size: 27px; }
  .bottom-bar a { padding-left: 32px; }
  .main-img-cont { width: 100%; text-align: center; }
  .home_image { max-width: 33%; } }
.load, .load-1, .load-2, .load-3, .load-4, .load-5, .load-6, .load-7, .load-8 { position: fixed; font-size: 28px; }

/*books section*/
.book { overflow: hidden; display: inline-block; position: relative; max-width: 300px; max-height: 300px; margin: 10px; }
@media (max-width: 480px) { .book { margin-top: 40px; width: 100%; } }

.books { text-align: center; overflow: scroll; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; margin-top: 30px; }

.book_image { height: 100%; max-width: none; }

.book_image.-position-0-of-7 { -webkit-transform: translateX(0%); -ms-transform: translateX(0%); transform: translateX(0%); }

.book_image.-position-1-of-7 { -webkit-transform: translateX(-14.28571%); -ms-transform: translateX(-14.28571%); transform: translateX(-14.28571%); }

.book_image.-position-2-of-7 { -webkit-transform: translateX(-28.57143%); -ms-transform: translateX(-28.57143%); transform: translateX(-28.57143%); }

.book_image.-position-3-of-7 { -webkit-transform: translateX(-42.85714%); -ms-transform: translateX(-42.85714%); transform: translateX(-42.85714%); }

.book_image.-position-4-of-7 { -webkit-transform: translateX(-57.14286%); -ms-transform: translateX(-57.14286%); transform: translateX(-57.14286%); }

.book_image.-position-5-of-7 { -webkit-transform: translateX(-71.42857%); -ms-transform: translateX(-71.42857%); transform: translateX(-71.42857%); }

.book_image.-position-6-of-7 { -webkit-transform: translateX(-85.71429%); -ms-transform: translateX(-85.71429%); transform: translateX(-85.71429%); }

.book_page_info { padding: 0 15% 0 15%; }

.book_page_images { text-align: center; }

.book_page_images img { max-width: 70%; padding: 20px 0 20px 0; }

.back { padding: 25px; float: left; }

.next { padding: 25px; float: right; }

.brands { height: 100%; position: relative; top: -32px; height: -webkit-calc(100% - 67px); height: calc(100% - 67px); }
@media (max-width: 480px) { .brands { top: 5px; height: calc(100% - 90px); } }

.brandID { display: none; }

.brand_titles { position: fixed; bottom: 0; right: 12px; width: 40%; z-index: 5000; }

.brand_title.revealed { color: black; }

.brand_title:hover { color: black; }

.brand-container { position: fixed; width: 100%; height: 100%; left: 0; top: 64px; }

.titles_pinch { max-width: 200px; z-index: 400; margin: 0 auto; background: white; border: solid 1px rgba(0, 0, 0, 0.35); padding: 5px; margin: auto 0 0 auto; margin-right: 16px; margin-bottom: 16px; }

#main { position: static; top: 64px; bottom: 0px; height: -webkit-calc(100% - 67px); height: calc(100% - 67px); }
@media (max-width: 480px) { #main { height: -webkit-calc(100% - 67px); height: calc(100% - 67px); } }
#main .olAlphaImg, #main .olButton { width: 48px !important; height: 48px !important; width: 36px !important; height: 36px !important; }
#main .olControlPanZoom { display: block; top: 300px; right: 6px !important; position: relative; }
#main .olControlPanZoom .olButton { border: solid black 4px; }
@media (max-width: 480px) { #main .olControlPanZoom .olButton { display: none; } }
#main .olControlPanZoom .olButton:last-of-type { -moz-transform: translateY(16px); -ms-transform: translateY(16px); -webkit-transform: translateY(16px); transform: translateY(16px); -moz-transform: translateY(4px); -ms-transform: translateY(4px); -webkit-transform: translateY(4px); transform: translateY(4px); }
@media (max-width: 480px) { #main .olControlPanZoom .olButton:last-of-type { -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -webkit-transform: translateY(-10px); transform: translateY(-10px); } }

.home { text-decoration: none; color: black; }

.pdfs { display: flex; flex-wrap: wrap; margin-bottom: 64px; }

.pdf-img { width: 10%; height: 20%; z-index: 9990; position: fixed; bottom: -367px; left: -3000px; border: solid black 4px; border-bottom: none; }

.pdf-row { position: relative; display: flex; align-items: center; padding: 3px; }

.pdf-row:hover { border: solid black 4px; padding: 0; }

.pdf-row .pdf-img { height: 72px; width: 100px; background-size: contain; }

.pdf-img.display { height: 200px; width: 140px; bottom: 67px; padding-bottom: 2px; -moz-transform: translateX(-100px); -ms-transform: translateX(-100px); -webkit-transform: translateX(-100px); transform: translateX(-100px); }

.pdf_overlay { text-decoration: none; margin: 1px; }

.pdf-txt { text-align: center; float: right; padding: 0 10px; color: black; text-decoration: none; }

.pdf-text { text-decoration: none; }

.pdf-txt p { margin: 0; text-decoration: none; font-family: Grotesk-Italic; }

/* henry's magazine stuff */
#bg_image, #bg_outer { background-repeat: repeat; height: 500px; max-height: 50%; }

#bg_outer { overflow: auto; max-width: 100%; }

#bg_image { height: 5000px; width: 5000px; background-position: 25000px 25000px; display: none; }

#bg_inner { height: 50000px; width: 50000px; /* max-width: 100%; */ /* position: absolute; */ /* overflow: scroll;*/ background-image: url("../images/LARGE_elevation_hi.jpg"); }

#mag-table { background-color: white; width: 100%; }

.table-top { font-weight: bold; }

.t-row, td, table { border: solid 1px black; }

.table-img-cont { position: static; float: left; }

.table-img-cont, .t-row td { text-align: center; }

.table-img-cont { width: 10%; }

#wptime-plugin-preloader { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: url(http://pierretardif.net/wp-content/plugins/the-preloader/images/3.gif) no-repeat #f4e7d9 50%; -moz-background-size: 64px 64px; -o-background-size: 64px 64px; -webkit-background-size: 264px 264px; /* background-size: 64px 64px; */ z-index: 99998; width: 100%; height: 100%; }

.copied { opacity: 0; pointer-events: none; }

#main .olMap:active { cursor: grabbing; cursor: -moz-grabbing; cursor: -webkit-grabbing; }

#main #map { cursor: grab; position: static; position: static; height: -webkit-calc(100% - 38px); height: calc(100% - 38px); width: 100%; background-color: #FFFFFF;  /*.olButton {
	 width: 48px!important;
	 height: 48px!important;
	 border: 3px solid black!important;
	 margin-bottom: 1px!important; }*/ cursor: move; /* fallback if grab cursor is unsupported */ cursor: grab; cursor: -moz-grab; cursor: -webkit-grab; /* (Optional) Apply a "closed-hand" cursor during drag operation. */ }
@media (max-width: 480px) { #main #map { border-bottom: solid 4px black; height: -webkit-calc(100% - 77px); height: calc(100% - 77px); } }
#main #map .olCursorWait { cursor: wait; }
#main #map .olDragDown { cursor: -webkit-grabbing; }
#main #map .olDrawBox { cursor: crosshair; }
#main #map .olControlDragFeatureOver { cursor: -webkit-grabbing; }
#main #map .olControlDragFeatureActive.olControlDragFeatureOver.olDragDown { cursor: -moz-grabbing; }

.magazine-issuez { background: white; position: absolute; bottom: 0; z-index: 4000; height: 64px; font-size: 27.5px; line-height: 64px; padding: 0 32px; overflow: visible; width: -webkit-calc(100% - 64px); width: calc(100% - 64px); }
@media (max-width: 480px) { .magazine-issuez { display: none; } }
.magazine-issuez .issues-text { line-height: 44px; bottom: 0; line-height: 40px; bottom: 0; padding: 10px 0px; }
.magazine-issuez a { color: black; }
.magazine-issuez a:hover { color: black; }

/*# sourceMappingURL=styles.css.map */
